{% extends 'parent/base.html' %}
{% load static %}

{% block title %}چت روم دوره{% endblock %}

{% block content %}
<div class="chat-container">
    <!-- Main chat area -->
    <div class="chat-main">
        <div class="chat-header">
            <h2>چت روم دوره {{ course.title }}</h2>
        </div>
        
        <div class="chat-messages" id="chat">
            <!-- Example messages -->
            {% for message in latest_messages %}
                <div class="message-container {% if message.user == request.user %}sent{% else %}received{% endif %}">
                    <div class="message-avatar">
                        <img src="{% static 'images/placeholder-avatar.png' %}" alt="User Avatar" onerror="this.src='https://ui-avatars.com/api/?name=Prof&background=random'">
                    </div>
                    <div class="message">
                        <div class="message-sender">{{ message.user.username }}</div>
                        <div class="message-content">
                            <p>{{ message.content }}</p>
                        </div>
                        <div class="message-time">{{ message.sent_on|date:"Y.m.d H:i A" }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="chat-input-area">
            <div id="chat-form">
                <div class="chat-input-container">
                    <input type="text" id="chat-message-input" placeholder="متن..">
                    <input type="submit" id="chat-message-submit" value="">
                    <div class="submit-icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block include_js %}
    {{ course.id|json_script:"course-id" }}
    {{ request.user.username|json_script:"request-user"}}
{% endblock %}

{% block domready%}
    const courseId = JSON.parse(
        document.getElementById('course-id').textContent
    );
    const requestUser = JSON.parse(
        document.getElementById('request-user').textContent
    );
    const url = 'ws://' + window.location.host +
                '/ws/chat/room/' + courseId + '/';
    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const chat = document.getElementById('chat');
        
        const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        const datetime = new Date(data.datetime).toLocaleTimeString('fa-IR', dateOptions);
        const isMe = data.user === requestUser;
        const source = isMe ? 'sent' : 'received';
        const avatar = isMe ? requestUser : data.user;
        const name = isMe ? 'Me' : data.user;

        chat.innerHTML += 
            '<div class="message-container ' + source + '">' +
                '<div class="message-avatar ' + avatar + '">' +
                    '<img src="{% static "images/placeholder-avatar.png" %}" alt="User Avatar" onerror="this.src=\'https://ui-avatars.com/api/?name=Prof&background=random\'">' +
                '</div>' +
                '<div class="message">' + 
                    '<div class="message-sender">' + name + '</div>' +
                    '<div class="message-content">' + data.message + '</div>' +
                    '<div class="message-time">' + datetime + '</div>' +
                '</div>' +
            '</div>';
        chat.scrollTop = chat.scrollHeight;
    }

    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    }

    const input = document.getElementById('chat-message-input');
    const submitButton = document.getElementById('chat-message-submit');

    submitButton.addEventListener('click', function(event) {
        const message = input.value;
        if (message) {
            // Send message in JSON format
            chatSocket.send(JSON.stringify({'message': message}));
            // Clear input
            input.value = '';
            input.focus();
        }
    });

    input.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger click event on button
            submitButton.click();
        }
    });

    input.focus();
{% endblock %}
